### Creating and Persisting an ML Model

In [11]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/ProductionData.csv', sep=',')

Summary of the data

In [12]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.00000
mean,16.692650,2.73175,2.544250,1.460450,2.032650,0.369350,3.92070,3.209450,3.062550,1.485700,2.280150,3.515800,7.40665,10.325300,10.120300,9.82185
std,1.277015,1.09966,1.090184,0.726266,0.833438,0.786741,0.90319,1.026564,1.123966,0.892544,1.280097,1.391275,9.94318,3.766443,4.188055,4.95591
min,15.000000,0.00000,0.000000,1.000000,1.000000,0.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,0.00000,1.000000,-2.000000,-2.00000
25%,16.000000,2.00000,2.000000,1.000000,1.000000,0.000000,4.00000,3.000000,2.000000,1.000000,1.000000,3.000000,2.00000,8.000000,7.000000,7.00000
50%,17.000000,3.00000,3.000000,1.000000,2.000000,0.000000,4.00000,3.000000,3.000000,1.000000,2.000000,4.000000,4.00000,10.000000,10.000000,10.00000
75%,18.000000,4.00000,3.000000,2.000000,2.000000,0.000000,5.00000,4.000000,4.000000,2.000000,3.000000,5.000000,9.00000,13.000000,13.000000,13.00000
max,22.000000,4.00000,4.000000,4.000000,4.000000,3.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,75.00000,20.000000,20.000000,21.00000

In [13]:
df.info

<bound method DataFrame.info of       school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0         GP   M   16       U     LE3       T     3     2  services     other
1         GP   F   15       R     GT3       T     2     2     other    health
2         GP   M   18       U     GT3       T     4     2   teacher     other
3         GP   M   16       U     GT3       T     1     1   at_home     other
4         GP   M   19       U     GT3       A     3     3  services  services
...      ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
19995     GP   M   17       U     GT3       A     3     2  services     other
19996     GP   F   16       U     LE3       T     3     3     other   teacher
19997     GP   M   18       U     GT3       T     2     2  services    health
19998     GP   F   18       U     GT3       T     2     2   at_home     other
19999     GP   F   16       U     GT3       T     1     3     other     other

       ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      ...      3        3      2     4     5      5        7  13  14  14
1      ...      5        4      5     1     1      4        7   8   8   9
2      ...      4        2      2     1     2      1        2  16  15  15
3      ...      5        2      3     1     2      2        1  13  13  13
4      ...      3        3      1     1     4      3        2  12  12  12
...    ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
19995  ...      5        5      3     1     1      5        0  17  18  19
19996  ...      4        2      1     2     4      4        0   9  10  10
19997  ...      4        4      2     1     1      5        1  11   9   9
19998  ...      4        4      3     1     1      3       16  10   9   8
19999  ...      5        3      3     3     3      4       18   7   5   5

[20000 rows x 33 columns]>

Create a subset of features as an example.

In [14]:
include = ['health','Medu','Fedu','studytime','traveltime','absences','age','freetime','famrel','Dalc','Walc','G3']
df.drop(columns=df.columns.difference(include), inplace=True)  # only using 3 features

In [15]:
df.info

<bound method DataFrame.info of        age  Medu  Fedu  traveltime  studytime  famrel  freetime  Dalc  Walc  \
0       16     3     2           2          2       3         3     4     5
1       15     2     2           4          1       5         4     1     1
2       18     4     2           1          3       4         2     1     2
3       16     1     1           2          1       5         2     1     2
4       19     3     3           1          2       3         3     1     4
...    ...   ...   ...         ...        ...     ...       ...   ...   ...
19995   17     3     2           1          2       5         5     1     1
19996   16     3     3           1          2       4         2     2     4
19997   18     2     2           1          1       4         4     1     1
19998   18     2     2           1          2       4         4     1     1
19999   16     1     3           1          2       5         3     3     3

       health  absences  G3
0           5         7  14
1           4         7   9
2           1         2  15
3           2         1  13
4           3         2  12
...       ...       ...  ..
19995       5         0  19
19996       4         0  10
19997       5         1   9
19998       3        16   8
19999       4        18   5

[20000 rows x 12 columns]>

The goal is to predict the quality of the student. We will build a predictor based on the final grade (G3).
Becasue we are trying to find quality students. In this model we define a quality student as one who achieves a final grade of 15 or higher.

In [16]:
df['qual_student'] = np.where(df['G3']>=15, 1, 0)

In [17]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,famrel,freetime,Dalc,Walc,health,absences,G3,qual_student
count,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.00000,20000.000000
mean,16.692650,2.73175,2.544250,1.460450,2.032650,3.92070,3.209450,1.485700,2.280150,3.515800,7.40665,9.82185,0.160500
std,1.277015,1.09966,1.090184,0.726266,0.833438,0.90319,1.026564,0.892544,1.280097,1.391275,9.94318,4.95591,0.367078
min,15.000000,0.00000,0.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,0.00000,-2.00000,0.000000
25%,16.000000,2.00000,2.000000,1.000000,1.000000,4.00000,3.000000,1.000000,1.000000,3.000000,2.00000,7.00000,0.000000
50%,17.000000,3.00000,3.000000,1.000000,2.000000,4.00000,3.000000,1.000000,2.000000,4.000000,4.00000,10.00000,0.000000
75%,18.000000,4.00000,3.000000,2.000000,2.000000,5.00000,4.000000,2.000000,3.000000,5.000000,9.00000,13.00000,0.000000
max,22.000000,4.00000,4.000000,4.000000,4.000000,5.00000,5.000000,5.000000,5.000000,5.000000,75.00000,21.00000,1.000000

Drop the G3 score

In [18]:
include = ['health','Medu','Fedu',
'studytime','traveltime','absences','age','freetime','famrel','Dalc','Walc','qual_student']
df.drop(columns=df.columns.difference(include), inplace=True)

Import scikit-learn and build a random forest classifer

In [24]:
from sklearn.ensemble import RandomForestClassifier as rf
import sklearn
dependent_variable = 'qual_student'
x = df[df.columns.difference([dependent_variable])]
y = df[dependent_variable]
clf = rf(n_estimators = 1000)
clf.fit(x, y)

RandomForestClassifier(n_estimators=1000)

In [44]:
pred = clf.predict(x)
sklearn.metrics.f1_score(y, pred, average='binary')

[0 0 0 1 0 1 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 1 1 0 1 0 1
 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 1 0 1 1
 0 0 1 0 1 0 0 0 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 1 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 1 0 0
 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0]

It's not very good! We didn't even cross validate. You'll need to do better :)
Let's export this model so we can use it in a microservice (flask api)

In [26]:
import joblib
# modify the file path to where you want to save the model
joblib.dump(clf, 'dockerfile/apps/model.pkl')

['dockerfile/apps/model.pkl']

In [40]:
query_df = pd.DataFrame({ 'health' : pd.Series(3) ,
                         'Medu' : pd.Series(10) ,
                         'Fedu' : pd.Series(18),
                         'studytime' : pd.Series(2) ,
                         'traveltime' : pd.Series(2) ,
                         'absences' : pd.Series(6), 
                         'age' : pd.Series(20),
                        'freetime': pd.Series(10),
                        'famrel':pd.Series(14),
                        'Dalc':pd.Series(20),
                        'Walc':pd.Series(20)})
query = pd.get_dummies(query_df)

In [41]:
pred = clf.predict(query)

In [42]:
pred

array([0])

In [15]:
type(x)

pandas.core.frame.DataFrame